import * as React from 'react';

interface {Comp}Props {

}

interface {Comp}State {

}

export class {Comp} extends React.Component<{Comp}Props, {Comp}State> {
  constructor(props: {Comp}Props) {

  }

  componentDidMount() {

  }

  public render() {
    return (
      <div></div>
    );
  }
}

export default {Comp};
